n8n-workflow.json
{
  "name": "Short-Form Video Automation MVP",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎬 Short-Form Video Automation MVP\n\n### Full Flow\n1. **Fetch TikTok Trends** — Apify scrapes trend metadata (no videos downloaded)\n2. **Engagement Scoring** — Ranks trends by weighted score\n3. **AI Video Idea** — GPT-4o creates an *original* concept (not a copy)\n4. **Creatomate Render** — Generates a 9:16 vertical video from a template\n5. **Telegram Approval** — Sends preview + approve/reject links\n6. **Upload-Post Publish** — Posts approved video to TikTok\n7. **Google Sheets Log** — Records every run for tracking\n\n### Quick Start\n1. Set all env vars in **n8n Settings → Environment Variables**\n2. Run the **Manual Trigger** to test end-to-end\n3. Enable **Schedule Trigger** for daily automation\n\nSee `README.md` and `.env.example` for full setup instructions.",
        "height": 316,
        "width": 580,
        "color": 5
      },
      "id": "sticky-001",
      "name": "📋 Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-380, -360]
    },
    {
      "parameters": {
        "content": "## 🔑 Required Environment Variables\n\nSet these in **n8n Settings → Environment Variables**:\n\n```\nAPIFY_API_TOKEN\nAPIFY_ACTOR_ID\nOPENAI_API_KEY\nCREATOMATE_API_KEY\nCREATOMATE_TEMPLATE_ID\nTELEGRAM_BOT_TOKEN\nTELEGRAM_CHAT_ID\nUPLOAD_POST_API_KEY\nUPLOAD_POST_ACCOUNT_ID\nGOOGLE_SHEET_ID\nGOOGLE_SHEETS_ACCESS_TOKEN\n```\n\nSee `.env.example` for descriptions.\nFor Google Sheets token, use a service account or OAuth2 bearer token.",
        "height": 316,
        "width": 460,
        "color": 3
      },
      "id": "sticky-002",
      "name": "🔑 API Keys",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [260, -360]
    },
    {
      "parameters": {
        "content": "## ⚠️ Original Content Policy\n\n✅ Fetches trend **metadata only** (caption, hashtags, counts)\n✅ Uses trends as **creative inspiration** — not as source material\n✅ AI prompt explicitly says: *\"Do not copy the original video\"*\n✅ Creatomate renders a **new original video** from your template\n\n❌ Does NOT download original TikTok videos\n❌ Does NOT reupload or repost any creator's content\n❌ Does NOT claim ownership of trending topics\n\nAlways review AI output before publishing.",
        "height": 268,
        "width": 460,
        "color": 2
      },
      "id": "sticky-003",
      "name": "⚠️ Content Policy",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [800, -360]
    },
    {
      "parameters": {
        "content": "## 🎬 Creatomate Template Requirements\n\nYour template must use these **element names**:\n\n| Element Name | Type | Purpose |\n|---|---|---|\n| `video_title` | Text | Main title overlay |\n| `scene_1_text` | Text | Scene 1 description |\n| `scene_2_text` | Text | Scene 2 description |\n| `scene_3_text` | Text | Scene 3 description |\n| `on_screen_text_1` | Text | Caption line 1 |\n| `on_screen_text_2` | Text | Caption line 2 |\n| `product_category` | Text | Category label |\n| `product_name` | Text | Top product |\n| `cta_text` | Text | Call to action |\n| `voiceover` | Audio | AI-generated script |\n\n**Format:** Vertical 9:16 (1080×1920)\n**Duration:** 15–60 seconds",
        "height": 340,
        "width": 500,
        "color": 6
      },
      "id": "sticky-004",
      "name": "🎬 Creatomate Template",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1560, -380]
    },
    {
      "parameters": {
        "content": "## 📱 Telegram Approval Setup\n\n### Create your bot\n1. Message **@BotFather** → `/newbot`\n2. Copy the token → `TELEGRAM_BOT_TOKEN`\n3. Add bot to your group or use direct chat\n4. Get chat ID → `TELEGRAM_CHAT_ID`\n\n### How approval works\n- Bot sends video URL + full details\n- Two clickable links are included:\n  - ✅ **Approve** → calls resume webhook with `approved=true`\n  - ❌ **Reject** → calls resume webhook with `approved=false`\n- Workflow resumes automatically when you click either link\n\n### Note\n`$execution.resumeUrl` is generated by the **Wait for Approval** node.",
        "height": 300,
        "width": 480,
        "color": 4
      },
      "id": "sticky-005",
      "name": "📱 Telegram Approval",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3040, -360]
    },
    {
      "parameters": {},
      "id": "node-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200],
      "notes": "Click 'Test workflow' to run once manually. Use this during setup and testing before enabling the schedule."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "node-002",
      "name": "Schedule Trigger (Daily 9AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 440],
      "notes": "Runs daily at 09:00 server time. Activate the workflow to enable this trigger. Adjust cron expression as needed (e.g. '0 8 * * 1-5' for weekdays at 8AM)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.apify.com/v2/acts/' + $env.APIFY_ACTOR_ID + '/run-sync-get-dataset-items?token=' + $env.APIFY_API_TOKEN + '&timeout=120&clean=true&format=json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "{\n  \"hashtags\": [\"fyp\", \"trending\", \"viral\", \"foryou\"],\n  \"resultsPerPage\": 20,\n  \"maxItems\": 20,\n  \"scrapeLastNDays\": 1\n}",
        "options": {
          "timeout": 130000
        }
      },
      "id": "node-003",
      "name": "Fetch TikTok Trends (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 320],
      "notes": "Fetches trending TikTok METADATA only via Apify scraper — no videos are downloaded.\n\nRecommended Actor: 'clockworks~tiktok-hashtag-search' or 'clockworks~free-tiktok-scraper'\nSet APIFY_ACTOR_ID to the actor's ID (e.g. 'clockworks~tiktok-hashtag-search').\n\nThe sync endpoint blocks until results are ready (up to 120s)."
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Calculate Engagement Score\n// Formula: ((likes×1) + (comments×3) + (shares×5)) / max(views,1)\n// Shares and comments are weighted higher — they signal stronger intent.\n// Returns only the #1 highest-engagement trend for the MVP.\n// ============================================================\n\nif (!items || items.length === 0) {\n  throw new Error('No trends returned from Apify. Check actor ID and API token.');\n}\n\nconst scored = items.map(item => {\n  const d = item.json;\n\n  // Normalise field names across different Apify TikTok actor versions\n  const likes    = d.diggCount    || d.likes         || d.likesCount    || 0;\n  const comments = d.commentCount || d.comments      || d.commentsCount || 0;\n  const shares   = d.shareCount   || d.shares        || d.sharesCount   || 0;\n  const views    = Math.max(d.playCount || d.views   || d.viewsCount    || 0, 1);\n\n  const engagement_score = ((likes * 1) + (comments * 3) + (shares * 5)) / views;\n\n  return {\n    json: {\n      video_url:        d.webVideoUrl || d.videoUrl || d.url || 'N/A',\n      caption:          d.text || d.caption || d.description || '',\n      hashtags:         d.hashtags || [],\n      author:           (d.authorMeta && d.authorMeta.name) || d.author || d.username || '',\n      views,\n      likes,\n      comments,\n      shares,\n      created_at:       d.createTimeISO || d.createTime || new Date().toISOString(),\n      engagement_score: parseFloat(engagement_score.toFixed(6))\n    }\n  };\n});\n\n// Sort descending and take top 1\nscored.sort((a, b) => b.json.engagement_score - a.json.engagement_score);\n\nif (!scored[0]) {\n  throw new Error('Engagement scoring produced no results.');\n}\n\nreturn [scored[0]];"
      },
      "id": "node-004",
      "name": "Calculate Engagement Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 320],
      "notes": "Scores every fetched trend and returns the single top performer.\nFormula: ((likes×1) + (comments×3) + (shares×5)) / views"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Build OpenAI Request Body\n// Constructs the full chat completions request.\n// The AI is explicitly instructed NOT to copy original videos.\n// Returns the full request object — the HTTP node sends it as JSON.\n// ============================================================\n\nconst trend = items[0].json;\n\nconst systemPrompt =\n  'You are a creative short-form video strategist specializing in viral TikTok ' +\n  'content for product recommendations and affiliate marketing. ' +\n  'You analyze trending content and create ORIGINAL video concepts inspired by ' +\n  'trends — never copying them. ' +\n  'You always respond with valid JSON only. No markdown, no extra text outside the JSON.';\n\nconst jsonSchema = JSON.stringify({\n  trend_summary:       'Brief description of why this trend is popular',\n  video_title:         'Catchy, original title (under 60 chars)',\n  video_angle:         'Unique hook that differentiates this video',\n  target_audience:     'Who this video is for',\n  product_category:    'Category of products to recommend',\n  suggested_products:  ['Product 1', 'Product 2', 'Product 3'],\n  voiceover_script:    'Full voiceover script for a 15-45 second video',\n  scene_descriptions:  ['Scene 1 description', 'Scene 2 description', 'Scene 3 description'],\n  on_screen_text:      ['Text overlay 1', 'Text overlay 2', 'Text overlay 3'],\n  caption:             'TikTok caption with emojis (under 150 chars)',\n  hashtags:            ['hashtag1', 'hashtag2', 'hashtag3', 'hashtag4', 'hashtag5']\n}, null, 2);\n\nconst userPrompt =\n  'Analyze this trending TikTok post and create an ORIGINAL video concept inspired by it.\\n\\n' +\n  'IMPORTANT: Do not copy the original video. Use it only as inspiration. Create a new, original video.\\n\\n' +\n  'Trend Data:\\n' +\n  '- Caption: ' + trend.caption + '\\n' +\n  '- Hashtags: ' + JSON.stringify(trend.hashtags) + '\\n' +\n  '- Views: ' + trend.views + '\\n' +\n  '- Likes: ' + trend.likes + '\\n' +\n  '- Comments: ' + trend.comments + '\\n' +\n  '- Shares: ' + trend.shares + '\\n' +\n  '- Engagement Score: ' + trend.engagement_score + '\\n\\n' +\n  'Create an original product recommendation video inspired by this trend.\\n' +\n  'Return ONLY valid JSON matching this exact structure:\\n' +\n  jsonSchema;\n\nreturn [{\n  json: {\n    model: 'gpt-4o',\n    temperature: 0.8,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user',   content: userPrompt }\n    ]\n  }\n}];"
      },
      "id": "node-005",
      "name": "Build OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 320],
      "notes": "Builds the full OpenAI API request body.\nThe prompt explicitly instructs the AI to create original content — not to copy the trend video.\nOutputs the request object so the HTTP node can send it directly."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-006",
      "name": "AI Creates Video Idea (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 320],
      "notes": "Sends the prepared request to GPT-4o.\nThe model is instructed to return structured JSON only.\nUses OPENAI_API_KEY environment variable."
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Parse AI Response\n// Extracts the JSON video concept from OpenAI's response.\n// Validates that all required fields are present.\n// ============================================================\n\nconst response = items[0].json;\n\nif (!response.choices || response.choices.length === 0) {\n  throw new Error('OpenAI returned no choices. Response: ' + JSON.stringify(response));\n}\n\nconst raw = response.choices[0].message.content;\n\nlet idea;\ntry {\n  idea = JSON.parse(raw);\n} catch (e) {\n  throw new Error('AI response is not valid JSON. Content: ' + raw.substring(0, 500));\n}\n\n// Validate required fields\nconst required = [\n  'video_title', 'voiceover_script', 'scene_descriptions',\n  'on_screen_text', 'caption', 'hashtags', 'product_category', 'suggested_products'\n];\nfor (const field of required) {\n  if (!idea[field]) {\n    throw new Error('AI response missing required field: ' + field);\n  }\n}\n\n// Ensure array fields are arrays\nidea.scene_descriptions  = Array.isArray(idea.scene_descriptions)  ? idea.scene_descriptions  : [];\nidea.on_screen_text      = Array.isArray(idea.on_screen_text)      ? idea.on_screen_text      : [];\nidea.suggested_products  = Array.isArray(idea.suggested_products)  ? idea.suggested_products  : [];\nidea.hashtags            = Array.isArray(idea.hashtags)            ? idea.hashtags            : [];\n\nreturn [{ json: idea }];"
      },
      "id": "node-007",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 320],
      "notes": "Parses and validates the OpenAI JSON response.\nThrows a descriptive error if the response is malformed or missing required fields.\nEnsures all array fields are actually arrays before downstream use."
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Build Creatomate Request Body\n// Maps AI-generated video concept to Creatomate template fields.\n// Adjust element names here if your template uses different names.\n// ============================================================\n\nconst idea = items[0].json;\n\nconst modifications = {\n  // Text overlays — match exact element names in your Creatomate template\n  'video_title':       idea.video_title       || '',\n  'scene_1_text':      (idea.scene_descriptions[0] || '').substring(0, 200),\n  'scene_2_text':      (idea.scene_descriptions[1] || '').substring(0, 200),\n  'scene_3_text':      (idea.scene_descriptions[2] || '').substring(0, 200),\n  'on_screen_text_1':  (idea.on_screen_text[0]     || '').substring(0, 100),\n  'on_screen_text_2':  (idea.on_screen_text[1]     || '').substring(0, 100),\n  'product_category':  idea.product_category  || '',\n  'product_name':      (idea.suggested_products[0] || ''),\n  'cta_text':          'Shop Now 🛍️',\n  // Voiceover — Creatomate can generate TTS from script text\n  // Remove this field if your template does not include a voiceover element\n  'voiceover':         idea.voiceover_script  || ''\n};\n\nreturn [{\n  json: {\n    template_id:   $env.CREATOMATE_TEMPLATE_ID,\n    output_format: 'mp4',\n    // Vertical 9:16 format for TikTok/Reels\n    width:  1080,\n    height: 1920,\n    modifications\n  }\n}];"
      },
      "id": "node-008",
      "name": "Build Creatomate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 320],
      "notes": "Maps AI video concept fields to Creatomate template element names.\nEDIT THIS NODE if your Creatomate template uses different element names.\nThe modifications keys must exactly match the element names in your template."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.CREATOMATE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-009",
      "name": "Generate Video (Creatomate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 320],
      "notes": "Submits render job to Creatomate.\nReturns immediately with a render ID and status 'planned' or 'rendering'.\nThe workflow then waits 60s before polling for completion.\nUses CREATOMATE_API_KEY env var."
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Extract Render ID from Creatomate Response\n// Creatomate returns an array of render objects.\n// We extract the render ID for status polling.\n// ============================================================\n\nconst response = items[0].json;\n\n// Creatomate returns an array\nconst render = Array.isArray(response) ? response[0] : response;\n\nif (!render || !render.id) {\n  throw new Error('No render ID in Creatomate response: ' + JSON.stringify(response));\n}\n\nreturn [{\n  json: {\n    render_id:     render.id,\n    render_status: render.status,\n    render_url:    render.url || null\n  }\n}];"
      },
      "id": "node-010",
      "name": "Extract Render ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 320],
      "notes": "Extracts the render_id from Creatomate's response.\nThis ID is used to poll the render status after waiting."
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "node-011",
      "name": "Wait 60s for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2700, 320],
      "notes": "Waits 60 seconds before polling Creatomate for render completion.\nIncrease this value for longer or more complex templates.\nFor very long renders, consider implementing a retry loop."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.creatomate.com/v1/renders/' + $node['Extract Render ID'].json.render_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.CREATOMATE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-012",
      "name": "Check Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3000, 320],
      "notes": "Polls Creatomate for the render result.\nExpected status values: 'planned', 'rendering', 'succeeded', 'failed'.\nFor MVP: single poll after 60s. Add a loop for more robust retry logic."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-render-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-013",
      "name": "Is Render Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3300, 320],
      "notes": "TRUE (output 1): status = 'succeeded' → send to Telegram for approval\nFALSE (output 2): render failed or still pending → stop and log"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Build Telegram Message\n// Constructs the approval message with rendered video details.\n// The $execution.resumeUrl is the unique URL that resumes the\n// waiting workflow when visited.\n// ============================================================\n\nconst idea    = $node['Parse AI Response'].json;\nconst render  = $node['Check Render Status'].json;\nconst trend   = $node['Calculate Engagement Score'].json;\n\nconst approveUrl = $execution.resumeUrl + '?approved=true';\nconst rejectUrl  = $execution.resumeUrl + '?approved=false';\n\nconst hashtags = (idea.hashtags || []).map(h => '#' + h).join(' ');\nconst products = (idea.suggested_products || []).map((p, i) => `${i + 1}. ${p}`).join('\\n');\n\nconst message =\n  '🎬 *New Video Ready for Approval*\\n\\n' +\n  `*Title:* ${idea.video_title}\\n` +\n  `*Category:* ${idea.product_category}\\n` +\n  `*Audience:* ${idea.target_audience}\\n` +\n  `*Angle:* ${idea.video_angle}\\n\\n` +\n  `*Caption Preview:*\\n${idea.caption}\\n\\n` +\n  `*Hashtags:* ${hashtags}\\n\\n` +\n  `*Suggested Products:*\\n${products}\\n\\n` +\n  `*Trend Engagement Score:* ${trend.engagement_score}\\n\\n` +\n  `🎥 *Rendered Video URL:*\\n${render.url}\\n\\n` +\n  '━━━━━━━━━━━━━━━━━━━━━\\n' +\n  `✅ [APPROVE](${approveUrl})\\n` +\n  `❌ [REJECT](${rejectUrl})\\n` +\n  '━━━━━━━━━━━━━━━━━━━━━\\n' +\n  '_Click a link above to resume the workflow_';\n\nreturn [{\n  json: {\n    chat_id:    $env.TELEGRAM_CHAT_ID,\n    text:       message,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "id": "node-014",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 200],
      "notes": "Builds the approval message with all video details and approve/reject links.\n$execution.resumeUrl is the unique URL generated by the Wait for Approval node.\nVisiting this URL with ?approved=true or ?approved=false resumes the workflow."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-015",
      "name": "Send Video to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3900, 200],
      "notes": "Sends the approval message to your Telegram bot chat.\nUses TELEGRAM_BOT_TOKEN and TELEGRAM_CHAT_ID env vars.\nThe message includes clickable Approve/Reject links."
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "approval"
        }
      },
      "id": "node-016",
      "name": "Wait for Approval (Webhook)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4200, 200],
      "notes": "Pauses the workflow until the approve or reject URL is visited.\nThe resume URL was included in the Telegram message.\n\nQuery parameters passed in the URL become available as $json.query\nafter this node resumes (e.g. $json.query.approved).\n\nNo timeout is set — the execution waits indefinitely. Set a timeout in\nproduction to auto-reject stale approvals."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-approved",
              "leftValue": "={{ ($json.query && $json.query.approved) || $json.approved || '' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-017",
      "name": "Check Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4500, 200],
      "notes": "TRUE (output 1): approved=true → publish the video\nFALSE (output 2): approved=false or no value → log rejection and stop"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Build Upload-Post Request Body\n// Publishes the generated video to TikTok via Upload-Post API.\n// Add 'instagram', 'facebook', 'youtube' to platforms[] in future.\n// ============================================================\n\nconst idea   = $node['Parse AI Response'].json;\nconst render = $node['Check Render Status'].json;\n\nconst caption  = idea.caption  || '';\nconst hashtags = (idea.hashtags || []).map(h => h.startsWith('#') ? h : '#' + h);\n\n// Full caption with hashtags appended\nconst fullCaption = caption + '\\n\\n' + hashtags.join(' ');\n\nreturn [{\n  json: {\n    account_id:  $env.UPLOAD_POST_ACCOUNT_ID,\n    platforms:   ['tiktok'],\n    video_url:   render.url,\n    caption:     fullCaption,\n    hashtags:    idea.hashtags || [],\n    schedule:    'now'\n    // To schedule for later: replace 'now' with ISO 8601 timestamp\n    // e.g. schedule: '2025-01-15T14:00:00Z'\n    //\n    // Future platforms (disabled for MVP):\n    // platforms: ['tiktok', 'instagram', 'youtube']\n  }\n}];"
      },
      "id": "node-018",
      "name": "Build Upload-Post Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4800, 80],
      "notes": "Builds the publish request for Upload-Post.\nCurrently set to TikTok only. Add 'instagram', 'youtube' etc. to the platforms array when ready.\nThe full caption includes the AI-generated caption and hashtags."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.upload-post.com/api/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.UPLOAD_POST_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-019",
      "name": "Publish with Upload-Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5100, 80],
      "notes": "Posts the video to TikTok via Upload-Post.\nUses UPLOAD_POST_API_KEY and UPLOAD_POST_ACCOUNT_ID env vars.\n\nNOTE: Verify the exact Upload-Post API endpoint and payload format\nin their documentation — the endpoint URL may differ for your plan.\nInstagram/Facebook publishing can be added by extending the platforms array."
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Build Google Sheets Log Row\n// Logs a full record of this run to Google Sheets.\n// Columns (must exist in row 1 of your sheet):\n//   date | trend_url | engagement_score | generated_video_url |\n//   caption | product_category | approval_status |\n//   publish_status | publish_url | video_title | products\n// ============================================================\n\nconst now    = new Date().toISOString();\nconst idea   = $node['Parse AI Response'].json;\nconst trend  = $node['Calculate Engagement Score'].json;\nconst render = $node['Check Render Status'].json;\nconst pub    = items[0].json;  // Upload-Post response\n\nreturn [{\n  json: {\n    values: [[\n      now,\n      trend.video_url         || '',\n      trend.engagement_score  || '',\n      render.url              || '',\n      idea.caption            || '',\n      idea.product_category   || '',\n      'APPROVED',\n      pub.status              || pub.state || 'submitted',\n      pub.post_url            || pub.url   || '',\n      idea.video_title        || '',\n      (idea.suggested_products || []).join(', ')\n    ]]\n  }\n}];"
      },
      "id": "node-020",
      "name": "Build Sheets Log Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5400, 80],
      "notes": "Prepares the log row. Pulls data from multiple upstream nodes.\nColumn order must match the header row in your Google Sheet.\nSee README for how to set up the sheet and access token."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.GOOGLE_SHEET_ID + '/values/Sheet1!A:K:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GOOGLE_SHEETS_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-021",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5700, 80],
      "notes": "Appends a row to your Google Sheet log via the Sheets API.\nRequires GOOGLE_SHEET_ID and a valid GOOGLE_SHEETS_ACCESS_TOKEN.\n\nAlternative: Replace this node with the native 'Google Sheets' node\nand use n8n's built-in Google OAuth2 credential for easier token management.\n\nSheet columns (A→K): date | trend_url | engagement_score | video_url |\ncaption | product_category | approval | publish_status | publish_url |\nvideo_title | products"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Log Rejection\n// Records that the video was rejected in Telegram.\n// Extend this node to also log to Google Sheets if needed.\n// ============================================================\n\nconst idea  = $node['Parse AI Response'].json;\nconst trend = $node['Calculate Engagement Score'].json;\n\nconsole.log('Video REJECTED:', idea.video_title);\n\nreturn [{\n  json: {\n    status:       'rejected',\n    timestamp:    new Date().toISOString(),\n    video_title:  idea.video_title || '',\n    trend_url:    trend.video_url  || '',\n    reason:       'Manual rejection via Telegram'\n  }\n}];"
      },
      "id": "node-022",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4800, 340],
      "notes": "Records the rejection reason and stops this execution branch.\nExtend this node to log the rejection to Google Sheets or send a follow-up Telegram notification."
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP: Handle Render Failure\n// Called when Creatomate render did not return status='succeeded'.\n// Check render_status for 'failed', 'error', or still 'rendering'.\n// ============================================================\n\nconst renderData = items[0].json;\n\nconsole.error('Creatomate render did not succeed. Status:', renderData.status);\n\nreturn [{\n  json: {\n    status:        'render_failed',\n    timestamp:     new Date().toISOString(),\n    render_id:     $node['Extract Render ID'].json.render_id || '',\n    render_status: renderData.status        || 'unknown',\n    error_message: renderData.errorMessage  || renderData.error || 'No error message returned'\n  }\n}];"
      },
      "id": "node-023",
      "name": "Stop - Render Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 460],
      "notes": "Handles Creatomate render failure.\nLogs the error and stops this execution branch.\nConsider extending with a Telegram notification for render failures in production."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Fetch TikTok Trends (Apify)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Schedule Trigger (Daily 9AM)": {
      "main": [
        [
          { "node": "Fetch TikTok Trends (Apify)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch TikTok Trends (Apify)": {
      "main": [
        [
          { "node": "Calculate Engagement Score", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calculate Engagement Score": {
      "main": [
        [
          { "node": "Build OpenAI Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          { "node": "AI Creates Video Idea (OpenAI)", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Creates Video Idea (OpenAI)": {
      "main": [
        [
          { "node": "Parse AI Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          { "node": "Build Creatomate Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Creatomate Request": {
      "main": [
        [
          { "node": "Generate Video (Creatomate)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Video (Creatomate)": {
      "main": [
        [
          { "node": "Extract Render ID", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Render ID": {
      "main": [
        [
          { "node": "Wait 60s for Render", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 60s for Render": {
      "main": [
        [
          { "node": "Check Render Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Render Status": {
      "main": [
        [
          { "node": "Is Render Complete?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Render Complete?": {
      "main": [
        [
          { "node": "Build Telegram Message", "type": "main", "index": 0 }
        ],
        [
          { "node": "Stop - Render Failed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          { "node": "Send Video to Telegram", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Video to Telegram": {
      "main": [
        [
          { "node": "Wait for Approval (Webhook)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait for Approval (Webhook)": {
      "main": [
        [
          { "node": "Check Approval", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Approval": {
      "main": [
        [
          { "node": "Build Upload-Post Request", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log Rejection", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Upload-Post Request": {
      "main": [
        [
          { "node": "Publish with Upload-Post", "type": "main", "index": 0 }
        ]
      ]
    },
    "Publish with Upload-Post": {
      "main": [
        [
          { "node": "Build Sheets Log Row", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Sheets Log Row": {
      "main": [
        [
          { "node": "Log to Google Sheets", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
  "id": "short-form-video-automation-mvp",
  "tags": [
    { "name": "video-automation" },
    { "name": "mvp" },
    { "name": "tiktok" }
  ]
}
