fitbuddy-ai/workflows/core/01_onboarding.json
{
  "name": "01 — Onboarding",
  "nodes": [
    {
      "parameters": {},
      "id": "exec-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, first_name, onboarding_complete, onboarding_step FROM users WHERE telegram_id = $1",
        "additionalFields": { "queryParams": "={{ $json.telegramId }}" }
      },
      "id": "check-user",
      "name": "Check User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.onboarding_complete }}", "value2": true }]
        }
      },
      "id": "if-complete",
      "name": "Already Onboarded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "Welcome back! Type /help to see all available commands.",
        "additionalFields": {}
      },
      "id": "send-welcome-back",
      "name": "Send Welcome Back",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [700, 150],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (telegram_id, username, first_name, onboarding_step)\nVALUES ($1, $2, $3, 'ask_name')\nON CONFLICT (telegram_id) DO UPDATE SET username=EXCLUDED.username, updated_at=now()\nRETURNING id, telegram_id, first_name, onboarding_step",
        "additionalFields": { "queryParams": "={{ [$('Execute Workflow Trigger').item.json.telegramId, $('Execute Workflow Trigger').item.json.username || '', $('Execute Workflow Trigger').item.json.firstName || 'Friend'].join(',') }}" }
      },
      "id": "upsert-user",
      "name": "Upsert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [700, 400],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_state (user_id, flow_id, step, context)\nVALUES ($1, 'onboarding', 'ask_name', '{}'::jsonb)\nON CONFLICT (user_id, flow_id) DO UPDATE SET updated_at=now()\nRETURNING id, step, context",
        "additionalFields": { "queryParams": "={{ $json.id }}" }
      },
      "id": "get-conv-state",
      "name": "Get Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 400],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.step }}",
        "rules": {
          "rules": [
            { "value2": "ask_name", "output": 0 },
            { "value2": "ask_age", "output": 1 },
            { "value2": "ask_gender", "output": 2 },
            { "value2": "ask_height", "output": 3 },
            { "value2": "ask_weight", "output": 4 },
            { "value2": "ask_activity", "output": 5 },
            { "value2": "ask_goal", "output": 6 }
          ]
        },
        "fallbackOutput": 7
      },
      "id": "switch-step",
      "name": "Switch on Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "Welcome to FitBuddy AI! 🏋️\n\nI'm your personal fitness and nutrition coach powered by AI.\n\nLet's set up your profile — about 2 minutes.\n\nWhat's your first name?",
        "additionalFields": {}
      },
      "id": "ask-name",
      "name": "Ask Name",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 100],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "Nice to meet you! 😊\n\nHow old are you? (type a number, e.g. 28)",
        "additionalFields": {}
      },
      "id": "ask-age",
      "name": "Ask Age",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "What's your gender?\n\nReply with: male, female, or other",
        "additionalFields": {}
      },
      "id": "ask-gender",
      "name": "Ask Gender",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 340],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "What's your height in cm?\n\nExample: 175",
        "additionalFields": {}
      },
      "id": "ask-height",
      "name": "Ask Height",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 460],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "What's your current weight in kg?\n\nExample: 78",
        "additionalFields": {}
      },
      "id": "ask-weight",
      "name": "Ask Weight",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 580],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "How active are you on a typical day?\n\nReply with one of:\n- sedentary (desk job, little movement)\n- light (light exercise 1-3x/week)\n- moderate (moderate exercise 3-5x/week)\n- active (hard exercise 6-7x/week)\n- very_active (very hard exercise, physical job)",
        "additionalFields": {}
      },
      "id": "ask-activity",
      "name": "Ask Activity",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 700],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "text": "What's your main fitness goal?\n\nReply with one of:\n- toning (fat loss and toning)\n- mass (build muscle)\n- maintenance (maintain current weight)",
        "additionalFields": {}
      },
      "id": "ask-goal",
      "name": "Ask Goal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 820],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('Execute Workflow Trigger').item.json;\nconst convState = $('Get Conv State').item.json;\nconst userRow = $('Upsert User').item.json;\n\nconst inputValue = (triggerData.text || '').trim().toLowerCase();\n\nconst step = convState.step;\nlet context = {};\ntry { context = typeof convState.context === 'string' ? JSON.parse(convState.context) : (convState.context || {}); } catch(e) { context = {}; }\n\nconst stepMap = {\n  ask_name:     { key: 'name',           next: 'ask_age' },\n  ask_age:      { key: 'age',            next: 'ask_gender', fn: v => parseInt(v) || 25 },\n  ask_gender:   { key: 'gender',         next: 'ask_height' },\n  ask_height:   { key: 'height_cm',      next: 'ask_weight', fn: v => parseFloat(v) || 170 },\n  ask_weight:   { key: 'weight_kg',      next: 'ask_activity', fn: v => parseFloat(v) || 70 },\n  ask_activity: { key: 'activity_level', next: 'ask_goal' },\n  ask_goal:     { key: 'goal',           next: 'complete' }\n};\n\nconst cur = stepMap[step];\nif (cur) {\n  context[cur.key] = cur.fn ? cur.fn(inputValue) : inputValue;\n}\n\nlet dailyCalorieTarget = null;\nif (context.weight_kg && context.height_cm && context.age && context.gender && context.activity_level && context.goal) {\n  const isMale = context.gender === 'male';\n  let bmr = isMale\n    ? 10*context.weight_kg + 6.25*context.height_cm - 5*context.age + 5\n    : 10*context.weight_kg + 6.25*context.height_cm - 5*context.age - 161;\n  const mult = {sedentary:1.2,light:1.375,moderate:1.55,active:1.725,very_active:1.9};\n  const tdee = bmr * (mult[context.activity_level] || 1.2);\n  const offset = {toning:-400,mass:300,maintenance:0};\n  dailyCalorieTarget = Math.round(tdee + (offset[context.goal] || 0));\n  context.daily_calorie_target = dailyCalorieTarget;\n}\n\nconst nextStep = cur ? cur.next : step;\n\nreturn [{ json: {\n  userId: userRow.id,\n  telegramId: triggerData.telegramId,\n  nextStep,\n  context,\n  dailyCalorieTarget,\n  isComplete: nextStep === 'complete'\n} }];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state SET step=$1, context=$2::jsonb, updated_at=now() WHERE user_id=$3 AND flow_id='onboarding'",
        "additionalFields": { "queryParams": "={{ [$json.nextStep, JSON.stringify($json.context), $json.userId].join(',') }}" }
      },
      "id": "update-conv-state",
      "name": "Update Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1700, 500],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $('Process Response').item.json.isComplete }}", "value2": true }]
        }
      },
      "id": "if-complete-flow",
      "name": "Onboarding Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1900, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET first_name=$1, age=$2, gender=$3, height_cm=$4, weight_kg=$5, activity_level=$6, goal=$7, daily_calorie_target=$8, onboarding_complete=true, updated_at=now() WHERE id=$9 RETURNING first_name, age, gender, height_cm, weight_kg, activity_level, goal, daily_calorie_target",
        "additionalFields": { "queryParams": "={{ [\n  $('Process Response').item.json.context.name,\n  $('Process Response').item.json.context.age,\n  $('Process Response').item.json.context.gender,\n  $('Process Response').item.json.context.height_cm,\n  $('Process Response').item.json.context.weight_kg,\n  $('Process Response').item.json.context.activity_level,\n  $('Process Response').item.json.context.goal,\n  $('Process Response').item.json.context.daily_calorie_target,\n  $('Process Response').item.json.userId\n].join(',') }}" }
      },
      "id": "save-profile",
      "name": "Save Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2100, 400],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM conversation_state WHERE user_id=$1 AND flow_id='onboarding'",
        "additionalFields": { "queryParams": "={{ $('Process Response').item.json.userId }}" }
      },
      "id": "delete-conv-state",
      "name": "Delete Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2300, 400],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Process Response').item.json.telegramId }}",
        "text": "={{ '✅ Profile complete!\\n\\n👤 ' + $('Save Profile').item.json.first_name + '\\n🎂 Age: ' + $('Save Profile').item.json.age + '\\n⚖️ ' + $('Save Profile').item.json.weight_kg + 'kg | 📏 ' + $('Save Profile').item.json.height_cm + 'cm\\n🎯 Goal: ' + $('Save Profile').item.json.goal + '\\n🔥 Daily target: ' + $('Save Profile').item.json.daily_calorie_target + ' kcal\\n\\nYou are all set! Start with:\\n/checkin — Log your day\\n/help — All commands' }}",
        "additionalFields": {}
      },
      "id": "send-profile",
      "name": "Send Profile Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2500, 400],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Check User", "type": "main", "index": 0 }]] },
    "Check User": { "main": [[{ "node": "Already Onboarded?", "type": "main", "index": 0 }]] },
    "Already Onboarded?": {
      "main": [
        [{ "node": "Send Welcome Back", "type": "main", "index": 0 }],
        [{ "node": "Upsert User", "type": "main", "index": 0 }]
      ]
    },
    "Upsert User": { "main": [[{ "node": "Get Conv State", "type": "main", "index": 0 }]] },
    "Get Conv State": { "main": [[{ "node": "Switch on Step", "type": "main", "index": 0 }]] },
    "Switch on Step": {
      "main": [
        [{ "node": "Ask Name", "type": "main", "index": 0 }],
        [{ "node": "Ask Age", "type": "main", "index": 0 }],
        [{ "node": "Ask Gender", "type": "main", "index": 0 }],
        [{ "node": "Ask Height", "type": "main", "index": 0 }],
        [{ "node": "Ask Weight", "type": "main", "index": 0 }],
        [{ "node": "Ask Activity", "type": "main", "index": 0 }],
        [{ "node": "Ask Goal", "type": "main", "index": 0 }],
        [{ "node": "Process Response", "type": "main", "index": 0 }]
      ]
    },
    "Ask Name": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Age": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Gender": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Height": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Weight": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Activity": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Goal": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Process Response": { "main": [[{ "node": "Update Conv State", "type": "main", "index": 0 }]] },
    "Update Conv State": { "main": [[{ "node": "Onboarding Complete?", "type": "main", "index": 0 }]] },
    "Onboarding Complete?": {
      "main": [
        [{ "node": "Save Profile", "type": "main", "index": 0 }],
        []
      ]
    },
    "Save Profile": { "main": [[{ "node": "Delete Conv State", "type": "main", "index": 0 }]] },
    "Delete Conv State": { "main": [[{ "node": "Send Profile Summary", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "1"
}
