fitbuddy-ai/workflows/core/01_onboarding.json
{
  "name": "01 — Onboarding",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "fitbuddy-onboarding",
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, first_name, onboarding_complete FROM users WHERE telegram_id = $1",
        "additionalFields": { "queryParams": "={{ $json.message ? $json.message.from.id : $json.callback_query.from.id }}" }
      },
      "id": "check-user",
      "name": "Check User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.onboarding_complete }}", "value2": true }]
        }
      },
      "id": "if-complete",
      "name": "Already Onboarded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message ? $('Telegram Trigger').item.json.message.from.id : $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "👋 Welcome back, <b>{{ $('Check User').item.json.first_name }}</b>!\n\nType /help to see all available commands.",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-welcome-back",
      "name": "Send Welcome Back",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [700, 150],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (telegram_id, username, first_name, onboarding_step)\nVALUES ($1, $2, $3, 'ask_name')\nON CONFLICT (telegram_id) DO UPDATE SET username=EXCLUDED.username, updated_at=now()\nRETURNING id, telegram_id, first_name, onboarding_step",
        "additionalFields": { "queryParams": "={{ [$('Telegram Trigger').item.json.message.from.id, $('Telegram Trigger').item.json.message.from.username || '', $('Telegram Trigger').item.json.message.from.first_name || 'Friend'].join(',') }}" }
      },
      "id": "upsert-user",
      "name": "Upsert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [700, 400],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_state (user_id, flow_id, step, context)\nVALUES ($1, 'onboarding', 'ask_name', '{}')\nON CONFLICT (user_id, flow_id) DO UPDATE SET updated_at=now()\nRETURNING id, step, context",
        "additionalFields": { "queryParams": "={{ $json.id }}" }
      },
      "id": "get-conv-state",
      "name": "Get Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 400],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.step }}",
        "rules": {
          "rules": [
            { "value2": "ask_name", "output": 0 },
            { "value2": "ask_age", "output": 1 },
            { "value2": "ask_gender", "output": 2 },
            { "value2": "ask_height", "output": 3 },
            { "value2": "ask_weight", "output": 4 },
            { "value2": "ask_activity", "output": 5 },
            { "value2": "ask_goal", "output": 6 }
          ]
        },
        "fallbackOutput": 7
      },
      "id": "switch-step",
      "name": "Switch on Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "👋 Welcome to <b>FitBuddy AI</b>! I'm your personal fitness and nutrition coach powered by AI.\n\nLet's set up your profile — about 2 minutes.\n\n<b>What's your first name?</b>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "ask-name",
      "name": "Ask Name",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 100],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Nice to meet you! 💪\n\n<b>How old are you?</b>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "ask-age",
      "name": "Ask Age",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 220],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "<b>What's your gender?</b>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"👨 Male\",\"callback_data\":\"gender_male\"},{\"text\":\"👩 Female\",\"callback_data\":\"gender_female\"},{\"text\":\"⚧ Other\",\"callback_data\":\"gender_other\"}]]}"
        }
      },
      "id": "ask-gender",
      "name": "Ask Gender",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 340],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "<b>What's your height in cm?</b>\n\nExample: <code>175</code>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "ask-height",
      "name": "Ask Height",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 460],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "<b>What's your current weight in kg?</b>\n\nExample: <code>78</code>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "ask-weight",
      "name": "Ask Weight",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 580],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "<b>How active are you on a typical day?</b>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"🪑 Sedentary\",\"callback_data\":\"activity_sedentary\"}],[{\"text\":\"🚶 Lightly Active\",\"callback_data\":\"activity_light\"}],[{\"text\":\"🏃 Moderately Active\",\"callback_data\":\"activity_moderate\"}],[{\"text\":\"💪 Active\",\"callback_data\":\"activity_active\"}],[{\"text\":\"🔥 Very Active\",\"callback_data\":\"activity_very_active\"}]]}"
        }
      },
      "id": "ask-activity",
      "name": "Ask Activity",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 700],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "<b>What's your main fitness goal?</b>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"🎯 Toning & Fat Loss\",\"callback_data\":\"goal_toning\"}],[{\"text\":\"💪 Build Muscle\",\"callback_data\":\"goal_mass\"}],[{\"text\":\"⚖️ Maintenance\",\"callback_data\":\"goal_maintenance\"}]]}"
        }
      },
      "id": "ask-goal",
      "name": "Ask Goal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 820],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('Telegram Trigger').item.json;\nconst convState = $('Get Conv State').item.json;\nconst userRow = $('Upsert User').item.json;\n\nconst messageText = triggerData.message?.text || '';\nconst callbackData = triggerData.callback_query?.data || '';\nconst inputValue = (messageText || callbackData).trim();\n\nconst step = convState.step;\nlet context = {};\ntry { context = typeof convState.context === 'string' ? JSON.parse(convState.context) : (convState.context || {}); } catch(e) { context = {}; }\n\nconst stepMap = {\n  ask_name:     { key: 'name',           next: 'ask_age' },\n  ask_age:      { key: 'age',            next: 'ask_gender' },\n  ask_gender:   { key: 'gender',         next: 'ask_height', fn: v => v.replace('gender_','') },\n  ask_height:   { key: 'height_cm',      next: 'ask_weight', fn: v => parseFloat(v) },\n  ask_weight:   { key: 'weight_kg',      next: 'ask_activity', fn: v => parseFloat(v) },\n  ask_activity: { key: 'activity_level', next: 'ask_goal', fn: v => v.replace('activity_','') },\n  ask_goal:     { key: 'goal',           next: 'complete', fn: v => v.replace('goal_','') }\n};\n\nconst cur = stepMap[step];\nif (cur) {\n  context[cur.key] = cur.fn ? cur.fn(inputValue) : inputValue;\n}\n\nlet dailyCalorieTarget = null;\nif (context.weight_kg && context.height_cm && context.age && context.gender && context.activity_level && context.goal) {\n  let bmr = context.gender === 'male'\n    ? 10*context.weight_kg + 6.25*context.height_cm - 5*context.age + 5\n    : 10*context.weight_kg + 6.25*context.height_cm - 5*context.age - 161;\n  const mult = {sedentary:1.2,light:1.375,moderate:1.55,active:1.725,very_active:1.9};\n  const tdee = bmr * (mult[context.activity_level] || 1.2);\n  const offset = {toning:-400,mass:300,maintenance:0};\n  dailyCalorieTarget = Math.round(tdee + (offset[context.goal] || 0));\n  context.daily_calorie_target = dailyCalorieTarget;\n}\n\nconst nextStep = cur ? cur.next : step;\n\nreturn [{ json: {\n  userId: userRow.id,\n  telegramId: triggerData.message?.from.id || triggerData.callback_query?.from.id,\n  nextStep,\n  context,\n  dailyCalorieTarget,\n  isComplete: nextStep === 'complete'\n} }];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state SET step=$1, context=$2::jsonb, updated_at=now() WHERE user_id=$3 AND flow_id='onboarding'",
        "additionalFields": { "queryParams": "={{ [$json.nextStep, JSON.stringify($json.context), $json.userId].join(',') }}" }
      },
      "id": "update-conv-state",
      "name": "Update Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1700, 500],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $('Process Response').item.json.isComplete }}", "value2": true }]
        }
      },
      "id": "if-complete-flow",
      "name": "Onboarding Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1900, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET first_name=$1, age=$2, gender=$3, height_cm=$4, weight_kg=$5, activity_level=$6, goal=$7, daily_calorie_target=$8, onboarding_complete=true, updated_at=now() WHERE id=$9 RETURNING first_name, age, gender, height_cm, weight_kg, activity_level, goal, daily_calorie_target",
        "additionalFields": { "queryParams": "={{ [\n  $('Process Response').item.json.context.name,\n  $('Process Response').item.json.context.age,\n  $('Process Response').item.json.context.gender,\n  $('Process Response').item.json.context.height_cm,\n  $('Process Response').item.json.context.weight_kg,\n  $('Process Response').item.json.context.activity_level,\n  $('Process Response').item.json.context.goal,\n  $('Process Response').item.json.context.daily_calorie_target,\n  $('Process Response').item.json.userId\n].join(',') }}" }
      },
      "id": "save-profile",
      "name": "Save Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2100, 400],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM conversation_state WHERE user_id=$1 AND flow_id='onboarding'",
        "additionalFields": { "queryParams": "={{ $('Process Response').item.json.userId }}" }
      },
      "id": "delete-conv-state",
      "name": "Delete Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2300, 400],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Process Response').item.json.telegramId }}",
        "text": "🎉 <b>Profile complete!</b>\n\n📛 Name: {{ $('Save Profile').item.json.first_name }}\n🎂 Age: {{ $('Save Profile').item.json.age }}\n⚖️ Weight: {{ $('Save Profile').item.json.weight_kg }}kg | Height: {{ $('Save Profile').item.json.height_cm }}cm\n🎯 Goal: {{ $('Save Profile').item.json.goal }}\n🔥 Daily target: <b>{{ $('Save Profile').item.json.daily_calorie_target }} kcal</b>\n\n✅ I'll send your daily check-in every morning at <b>8:00 AM</b>.\n\nOr start now with /checkin 💪\n\n<b>Commands:</b>\n/checkin — Daily check-in\n/analyze — Analyze food photo\n/supplements — Supplement advice\n/progress — Weekly report\n/help — All commands",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-profile",
      "name": "Send Profile Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2500, 400],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Check User", "type": "main", "index": 0 }]] },
    "Check User": { "main": [[{ "node": "Already Onboarded?", "type": "main", "index": 0 }]] },
    "Already Onboarded?": {
      "main": [
        [{ "node": "Send Welcome Back", "type": "main", "index": 0 }],
        [{ "node": "Upsert User", "type": "main", "index": 0 }]
      ]
    },
    "Upsert User": { "main": [[{ "node": "Get Conv State", "type": "main", "index": 0 }]] },
    "Get Conv State": { "main": [[{ "node": "Switch on Step", "type": "main", "index": 0 }]] },
    "Switch on Step": {
      "main": [
        [{ "node": "Ask Name", "type": "main", "index": 0 }],
        [{ "node": "Ask Age", "type": "main", "index": 0 }],
        [{ "node": "Ask Gender", "type": "main", "index": 0 }],
        [{ "node": "Ask Height", "type": "main", "index": 0 }],
        [{ "node": "Ask Weight", "type": "main", "index": 0 }],
        [{ "node": "Ask Activity", "type": "main", "index": 0 }],
        [{ "node": "Ask Goal", "type": "main", "index": 0 }],
        [{ "node": "Process Response", "type": "main", "index": 0 }]
      ]
    },
    "Ask Name": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Age": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Gender": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Height": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Weight": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Activity": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Ask Goal": { "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]] },
    "Process Response": { "main": [[{ "node": "Update Conv State", "type": "main", "index": 0 }]] },
    "Update Conv State": { "main": [[{ "node": "Onboarding Complete?", "type": "main", "index": 0 }]] },
    "Onboarding Complete?": {
      "main": [
        [{ "node": "Save Profile", "type": "main", "index": 0 }],
        []
      ]
    },
    "Save Profile": { "main": [[{ "node": "Delete Conv State", "type": "main", "index": 0 }]] },
    "Delete Conv State": { "main": [[{ "node": "Send Profile Summary", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "1"
}
