fitbuddy-ai/workflows/core/02_daily_checkin.json
{
  "name": "02 — Daily Check-in",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "id": "schedule",
      "name": "Schedule 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 250]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checkin-manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 400],
      "webhookId": "fitbuddy-checkin-manual"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, first_name, daily_calorie_target FROM users WHERE onboarding_complete=true",
        "additionalFields": {}
      },
      "id": "get-users",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [350, 320],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "per-user",
      "name": "Per User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [550, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM daily_logs WHERE user_id=$1 AND log_date=CURRENT_DATE",
        "additionalFields": { "queryParams": "={{ $json.id }}" }
      },
      "id": "check-log",
      "name": "Already Checked In?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [750, 320],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.id || '' }}", "value2": "" }]
        }
      },
      "id": "if-not-done",
      "name": "Not Done Yet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [950, 320]
    },
    {
      "parameters": {
        "chatId": "={{ $('Per User').item.json.telegram_id }}",
        "text": "🌅 <b>Good morning, {{ $('Per User').item.json.first_name }}!</b>\n\nTime for your daily check-in. I have 7 quick questions!\n\nLet's go 👇\n\n<b>Question 1/7:</b> 😴 How many hours did you sleep last night?",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-q1",
      "name": "Ask Sleep",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1150, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{ `checkin-q1-${$('Per User').item.json.telegram_id}` }}",
        "options": {}
      },
      "id": "wait-q1",
      "name": "Wait Sleep Answer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1350, 220],
      "webhookId": "fitbuddy-wait-q1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Per User').item.json.telegram_id }}",
        "text": "<b>Question 2/7:</b> ⚡ Energy level today? (1 = exhausted, 10 = fantastic)",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-q2",
      "name": "Ask Energy",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1550, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{ `checkin-q2-${$('Per User').item.json.telegram_id}` }}",
        "options": {}
      },
      "id": "wait-q2",
      "name": "Wait Energy Answer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1750, 220],
      "webhookId": "fitbuddy-wait-q2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Per User').item.json.telegram_id }}",
        "text": "<b>Question 3/7:</b> 💭 How's your mood?\n\n<i>Reply: great / good / okay / low</i>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-q3",
      "name": "Ask Mood",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1950, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{ `checkin-q3-${$('Per User').item.json.telegram_id}` }}",
        "options": {}
      },
      "id": "wait-q3",
      "name": "Wait Mood Answer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2150, 220],
      "webhookId": "fitbuddy-wait-q3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Per User').item.json.telegram_id }}",
        "text": "<b>Question 4/7:</b> 🍽️ Describe what you ate yesterday — or send a food photo!",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-q4",
      "name": "Ask Food",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2350, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{ `checkin-q4-${$('Per User').item.json.telegram_id}` }}",
        "options": {}
      },
      "id": "wait-q4",
      "name": "Wait Food Answer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2550, 220],
      "webhookId": "fitbuddy-wait-q4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Per User').item.json.telegram_id }}",
        "text": "<b>Question 5/7:</b> 🏋️ Did you work out? Describe it, or say 'rest day'.",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-q5",
      "name": "Ask Workout",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2750, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{ `checkin-q5-${$('Per User').item.json.telegram_id}` }}",
        "options": {}
      },
      "id": "wait-q5",
      "name": "Wait Workout Answer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2950, 220],
      "webhookId": "fitbuddy-wait-q5"
    },
    {
      "parameters": {
        "chatId": "={{ $('Per User').item.json.telegram_id }}",
        "text": "<b>Question 6/7:</b> 👟 Roughly how many steps did you take?",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-q6",
      "name": "Ask Steps",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [3150, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{ `checkin-q6-${$('Per User').item.json.telegram_id}` }}",
        "options": {}
      },
      "id": "wait-q6",
      "name": "Wait Steps Answer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3350, 220],
      "webhookId": "fitbuddy-wait-q6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Per User').item.json.telegram_id }}",
        "text": "<b>Question 7/7:</b> 💧 How many glasses of water? (1 glass ≈ 250ml)",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-q7",
      "name": "Ask Water",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [3550, 220],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{ `checkin-q7-${$('Per User').item.json.telegram_id}` }}",
        "options": {}
      },
      "id": "wait-q7",
      "name": "Wait Water Answer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3750, 220],
      "webhookId": "fitbuddy-wait-q7"
    },
    {
      "parameters": {
        "jsCode": "// Collect all answers from wait nodes\nconst sleepHours = parseFloat($('Wait Sleep Answer').item.json.body?.message?.text || 7);\nconst energyLevel = parseInt($('Wait Energy Answer').item.json.body?.message?.text || 5);\nconst mood = $('Wait Mood Answer').item.json.body?.message?.text || 'okay';\nconst foodDesc = $('Wait Food Answer').item.json.body?.message?.text || 'Not provided';\nconst workoutDesc = $('Wait Workout Answer').item.json.body?.message?.text || 'Rest day';\nconst steps = parseInt($('Wait Steps Answer').item.json.body?.message?.text || 0);\nconst glasses = parseFloat($('Wait Water Answer').item.json.body?.message?.text || 0);\nconst waterMl = glasses * 250;\nconst workoutDone = workoutDesc.toLowerCase() !== 'rest day';\nconst userId = $('Per User').item.json.id;\nconst telegramId = $('Per User').item.json.telegram_id;\nreturn [{ json: { sleepHours, energyLevel, mood, foodDesc, workoutDesc, workoutDone, steps, waterMl, userId, telegramId } }];"
      },
      "id": "collect-answers",
      "name": "Collect Answers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3950, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_logs (user_id, log_date, sleep_hours, energy_level, mood, food_description, workout_done, workout_description, steps, water_ml)\nVALUES ($1, CURRENT_DATE, $2, $3, $4, $5, $6, $7, $8, $9)\nON CONFLICT (user_id, log_date) DO UPDATE SET sleep_hours=EXCLUDED.sleep_hours, energy_level=EXCLUDED.energy_level, mood=EXCLUDED.mood, food_description=EXCLUDED.food_description, workout_done=EXCLUDED.workout_done, workout_description=EXCLUDED.workout_description, steps=EXCLUDED.steps, water_ml=EXCLUDED.water_ml\nRETURNING id",
        "additionalFields": { "queryParams": "={{ [$json.userId, $json.sleepHours, $json.energyLevel, $json.mood, $json.foodDesc, $json.workoutDone, $json.workoutDesc, $json.steps, $json.waterMl].join(',') }}" }
      },
      "id": "insert-log",
      "name": "Insert Daily Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [4150, 320],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Collect Answers').item.json.telegramId }}",
        "text": "✅ <b>Check-in complete!</b>\n\n🤖 Generating your personalized plan... this takes about 15 seconds ⏳",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "confirm-checkin",
      "name": "Confirm Check-in",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [4350, 320],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "workflowId": "3",
        "options": {},
        "workflowInputs": {
          "values": [
            { "name": "user_id", "value": "={{ $('Collect Answers').item.json.userId }}" },
            { "name": "log_date", "value": "={{ new Date().toISOString().split('T')[0] }}" },
            { "name": "telegram_id", "value": "={{ $('Collect Answers').item.json.telegramId }}" }
          ]
        }
      },
      "id": "trigger-ai",
      "name": "Trigger AI Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [4550, 320]
    }
  ],
  "connections": {
    "Schedule 8AM": { "main": [[{ "node": "Get Active Users", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Get Active Users", "type": "main", "index": 0 }]] },
    "Get Active Users": { "main": [[{ "node": "Per User", "type": "main", "index": 0 }]] },
    "Per User": { "main": [[{ "node": "Already Checked In?", "type": "main", "index": 0 }]] },
    "Already Checked In?": { "main": [[{ "node": "Not Done Yet?", "type": "main", "index": 0 }]] },
    "Not Done Yet?": {
      "main": [
        [{ "node": "Ask Sleep", "type": "main", "index": 0 }],
        []
      ]
    },
    "Ask Sleep": { "main": [[{ "node": "Wait Sleep Answer", "type": "main", "index": 0 }]] },
    "Wait Sleep Answer": { "main": [[{ "node": "Ask Energy", "type": "main", "index": 0 }]] },
    "Ask Energy": { "main": [[{ "node": "Wait Energy Answer", "type": "main", "index": 0 }]] },
    "Wait Energy Answer": { "main": [[{ "node": "Ask Mood", "type": "main", "index": 0 }]] },
    "Ask Mood": { "main": [[{ "node": "Wait Mood Answer", "type": "main", "index": 0 }]] },
    "Wait Mood Answer": { "main": [[{ "node": "Ask Food", "type": "main", "index": 0 }]] },
    "Ask Food": { "main": [[{ "node": "Wait Food Answer", "type": "main", "index": 0 }]] },
    "Wait Food Answer": { "main": [[{ "node": "Ask Workout", "type": "main", "index": 0 }]] },
    "Ask Workout": { "main": [[{ "node": "Wait Workout Answer", "type": "main", "index": 0 }]] },
    "Wait Workout Answer": { "main": [[{ "node": "Ask Steps", "type": "main", "index": 0 }]] },
    "Ask Steps": { "main": [[{ "node": "Wait Steps Answer", "type": "main", "index": 0 }]] },
    "Wait Steps Answer": { "main": [[{ "node": "Ask Water", "type": "main", "index": 0 }]] },
    "Ask Water": { "main": [[{ "node": "Wait Water Answer", "type": "main", "index": 0 }]] },
    "Wait Water Answer": { "main": [[{ "node": "Collect Answers", "type": "main", "index": 0 }]] },
    "Collect Answers": { "main": [[{ "node": "Insert Daily Log", "type": "main", "index": 0 }]] },
    "Insert Daily Log": { "main": [[{ "node": "Confirm Check-in", "type": "main", "index": 0 }]] },
    "Confirm Check-in": { "main": [[{ "node": "Trigger AI Engine", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "2"
}
