fitbuddy-ai/workflows/core/03_ai_engine.json
{
  "name": "03 — AI Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-engine",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "fitbuddy-ai-engine"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, first_name, age, gender, weight_kg, height_cm, activity_level, goal, daily_calorie_target FROM users WHERE id=$1",
        "additionalFields": { "queryParams": "={{ $json.body.user_id }}" }
      },
      "id": "get-user",
      "name": "Get User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sleep_hours, energy_level, mood, food_description, calories_consumed, protein_g, carbs_g, fat_g, workout_description, steps, water_ml, log_date FROM daily_logs WHERE user_id=$1 AND log_date=$2",
        "additionalFields": { "queryParams": "={{ [$('Webhook Trigger').item.json.body.user_id, $('Webhook Trigger').item.json.body.log_date].join(',') }}" }
      },
      "id": "get-log",
      "name": "Get Today Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 200],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_date, calories_consumed, sleep_hours, energy_level, workout_done, steps FROM daily_logs WHERE user_id=$1 ORDER BY log_date DESC LIMIT 7",
        "additionalFields": { "queryParams": "={{ $('Webhook Trigger').item.json.body.user_id }}" }
      },
      "id": "get-7day",
      "name": "Get 7-Day Trend",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 400],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Get User').item.json;\nconst log = $('Get Today Log').item.json;\nconst trends = $('Get 7-Day Trend').all().map(i => i.json);\n\nconst trendText = trends.map(d =>\n  `  ${d.log_date}: ${d.calories_consumed||0} kcal | Sleep ${d.sleep_hours||'?'}h | Energy ${d.energy_level||'?'}/10 | Workout ${d.workout_done ? '✅' : '❌'} | Steps ${d.steps||0}`\n).join('\\n') || 'No previous data yet.';\n\nconst systemPrompt = `You are FitBuddy AI — an expert, encouraging personal fitness and nutrition coach. Always be specific, actionable, and use the user's actual data. Format for Telegram using emojis. Never give medical diagnoses.`;\n\nconst userPrompt = `Analyze this user's data and generate their daily FitBuddy report.\n\nUSER: ${user.first_name}, Age ${user.age}, ${user.gender}, ${user.weight_kg}kg/${user.height_cm}cm\nGoal: ${user.goal} | Daily target: ${user.daily_calorie_target} kcal | Activity: ${user.activity_level}\n\nTODAY (${log.log_date||'today'}):\n- Sleep: ${log.sleep_hours||0}h | Energy: ${log.energy_level||5}/10 | Mood: ${log.mood||'okay'}\n- Food: ${log.food_description||'Not provided'} (~${log.calories_consumed||0} kcal)\n- Protein: ${log.protein_g||0}g | Carbs: ${log.carbs_g||0}g | Fat: ${log.fat_g||0}g\n- Workout: ${log.workout_description||'Rest day'} | Steps: ${log.steps||0} | Water: ${log.water_ml||0}ml\n\n7-DAY TREND:\n${trendText}\n\nGenerate these sections with the exact emoji headers:\n\n🍽️ NUTRITION PLAN\nSpecific meal plan for tomorrow targeting ${user.daily_calorie_target} kcal. Include breakfast, lunch, dinner, snack with portions.\n\n🏋️ WORKOUT PLAN\nSpecific workout for tomorrow matching energy level ${log.energy_level||5}/10 and goal ${user.goal}.\n\n🔄 HEALTHY SUBSTITUTES\n3 specific swaps from today's food. Format: [Original] → [Substitute] — [Why]\n\n📈 PROGRESS SNAPSHOT\n2 honest, encouraging sentences about their trend.\n\n💬 DAILY MOTIVATION\nOne personalized sentence for their situation today.`;\n\nreturn [{ json: {\n  systemPrompt,\n  userPrompt,\n  telegramId: user.telegram_id,\n  userId: user.id,\n  userName: user.first_name\n} }];"
      },
      "id": "compose-prompt",
      "name": "Compose Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama3', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userPrompt }], temperature: 0.7, max_tokens: 1500, stream: false } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ollama-call",
      "name": "Llama3 Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json.choices?.[0]?.message?.content || 'No response generated.';\nconst prev = $('Compose Prompt').item.json;\nreturn [{ json: { aiResponse, telegramId: prev.telegramId, userId: prev.userId } }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_recommendations (user_id, recommendation_date, full_response, model_used) VALUES ($1, CURRENT_DATE, $2, 'llama3') ON CONFLICT DO NOTHING",
        "additionalFields": { "queryParams": "={{ [$json.userId, $json.aiResponse].join(',') }}" }
      },
      "id": "save-rec",
      "name": "Save Recommendation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1300, 250],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ $json.aiResponse }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-report",
      "name": "Send Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 400],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Response').item.json.telegramId }}",
        "text": "What would you like to do next?",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"📸 Analyze Food Photo\",\"callback_data\":\"/analyze\"},{\"text\":\"💊 Supplements\",\"callback_data\":\"/supplements\"}],[{\"text\":\"📊 Weekly Progress\",\"callback_data\":\"/progress\"}]]}"
        }
      },
      "id": "send-keyboard",
      "name": "Send Action Keyboard",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 400],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Get User", "type": "main", "index": 0 }]] },
    "Get User": {
      "main": [
        [{ "node": "Get Today Log", "type": "main", "index": 0 }],
        [{ "node": "Get 7-Day Trend", "type": "main", "index": 0 }]
      ]
    },
    "Get Today Log": { "main": [[{ "node": "Compose Prompt", "type": "main", "index": 0 }]] },
    "Get 7-Day Trend": { "main": [[{ "node": "Compose Prompt", "type": "main", "index": 0 }]] },
    "Compose Prompt": { "main": [[{ "node": "Llama3 Analysis", "type": "main", "index": 0 }]] },
    "Llama3 Analysis": { "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]] },
    "Parse Response": {
      "main": [
        [{ "node": "Save Recommendation", "type": "main", "index": 0 }],
        [{ "node": "Send Report", "type": "main", "index": 0 }]
      ]
    },
    "Send Report": { "main": [[{ "node": "Send Action Keyboard", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "3"
}
