fitbuddy-ai/workflows/core/04_command_router.json
{
  "name": "04 — Command Router",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "fitbuddy-command-router",
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $json;\nconst message = trigger.message || {};\nconst cb = trigger.callback_query || {};\nconst text = message.text || cb.data || '';\nconst telegramId = message.from?.id || cb.from?.id;\nconst firstName = message.from?.first_name || cb.from?.first_name || 'there';\nif (!text.startsWith('/')) return [{ json: { skip: true } }];\nconst command = text.split(' ')[0].toLowerCase();\nreturn [{ json: { command, telegramId, firstName, skip: false } }];"
      },
      "id": "extract-cmd",
      "name": "Extract Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.skip }}", "value2": true }]
        }
      },
      "id": "if-skip",
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, onboarding_complete, first_name FROM users WHERE telegram_id=$1",
        "additionalFields": { "queryParams": "={{ $('Extract Command').item.json.telegramId }}" }
      },
      "id": "verify-user",
      "name": "Verify User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [700, 400],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.onboarding_complete }}", "value2": true }]
        }
      },
      "id": "if-onboarded",
      "name": "Onboarded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Command').item.json.telegramId }}",
        "text": "👋 Let's get you set up first!\n\nType /start to begin.",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "redirect-start",
      "name": "Redirect to Start",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1100, 250],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "jsCode": "const command = $('Extract Command').item.json.command;\nconst telegramId = $('Extract Command').item.json.telegramId;\n\nconst routes = {\n  '/checkin':     { workflowId: '2' },\n  '/analyze':     { workflowId: '7', feature: 'food_image_analysis' },\n  '/supplements': { workflowId: '8', feature: 'supplement_advisor' },\n  '/progress':    { workflowId: '6' },\n  '/help':        { action: 'help' }\n};\n\nconst match = routes[command];\nif (!match) return [{ json: { action: 'unknown', command, telegramId } }];\nif (match.action === 'help') return [{ json: { action: 'help', telegramId } }];\nreturn [{ json: { action: 'dispatch', workflowId: match.workflowId, telegramId, command } }];"
      },
      "id": "match-cmd",
      "name": "Match Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            { "value2": "dispatch", "output": 0 },
            { "value2": "help", "output": 1 },
            { "value2": "unknown", "output": 2 }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "route-action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1300, 500]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflowId }}",
        "options": {},
        "workflowInputs": {
          "values": [
            { "name": "telegram_id", "value": "={{ $json.telegramId }}" }
          ]
        }
      },
      "id": "exec-workflow",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1500, 380]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "🤖 <b>FitBuddy AI — Commands</b>\n\n/checkin — Daily check-in\n/analyze — Analyze a food photo 📸\n/supplements — Supplement advice 💊\n/progress — Weekly report 📊\n/help — Show this menu",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 520],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "❓ Unknown command: <code>{{ $json.command }}</code>\n\nType /help to see available commands.",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "unknown-cmd",
      "name": "Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 660],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Extract Command", "type": "main", "index": 0 }]] },
    "Extract Command": { "main": [[{ "node": "Is Command?", "type": "main", "index": 0 }]] },
    "Is Command?": {
      "main": [
        [],
        [{ "node": "Verify User", "type": "main", "index": 0 }]
      ]
    },
    "Verify User": { "main": [[{ "node": "Onboarded?", "type": "main", "index": 0 }]] },
    "Onboarded?": {
      "main": [
        [{ "node": "Match Command", "type": "main", "index": 0 }],
        [{ "node": "Redirect to Start", "type": "main", "index": 0 }]
      ]
    },
    "Match Command": { "main": [[{ "node": "Route Action", "type": "main", "index": 0 }]] },
    "Route Action": {
      "main": [
        [{ "node": "Execute Workflow", "type": "main", "index": 0 }],
        [{ "node": "Send Help", "type": "main", "index": 0 }],
        [{ "node": "Unknown Command", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "4"
}
