fitbuddy-ai/workflows/core/04_command_router.json
{
  "name": "04 — Command Router",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "fitbuddy-command-router",
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $json;\nconst message = trigger.message || {};\nconst cb = trigger.callback_query || {};\nconst text = (message.text || cb.data || '').trim();\nconst telegramId = message.from?.id || cb.from?.id;\nconst firstName = message.from?.first_name || cb.from?.first_name || 'there';\nconst username = message.from?.username || cb.from?.username || '';\n\nif (!telegramId || !text) return [];\n\nconst isCommand = text.startsWith('/');\nconst command = isCommand ? text.split(' ')[0].toLowerCase() : null;\n\nreturn [{ json: { command, text, telegramId: String(telegramId), firstName, username, isCommand } }];"
      },
      "id": "extract-info",
      "name": "Extract Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, COALESCE(u.onboarding_complete, false) as onboarding_complete, u.first_name FROM (SELECT $1::bigint as telegram_id) t LEFT JOIN users u ON u.telegram_id = t.telegram_id",
        "additionalFields": { "queryParams": "={{ $json.telegramId }}" }
      },
      "id": "verify-user",
      "name": "Verify User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "jsCode": "const extracted = $('Extract Info').item.json;\nconst user = $json;\n\nconst { command, text, telegramId, firstName, username, isCommand } = extracted;\n\nif (!user.id || !user.onboarding_complete) {\n  return [{ json: { route: 'onboarding', telegramId, firstName, username, text } }];\n}\n\nif (!isCommand) {\n  return [{ json: { route: 'help', telegramId } }];\n}\n\nif (command === '/start') {\n  return [{ json: { route: 'welcome_back', telegramId, firstName: user.first_name } }];\n}\n\nif (command === '/help') {\n  return [{ json: { route: 'help', telegramId } }];\n}\n\nconst routes = { '/checkin': '2', '/analyze': '7', '/supplements': '8', '/progress': '6' };\nif (routes[command]) {\n  return [{ json: { route: 'dispatch', workflowId: routes[command], telegramId } }];\n}\n\nreturn [{ json: { route: 'unknown', command, telegramId } }];"
      },
      "id": "determine-route",
      "name": "Determine Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.route }}",
        "rules": {
          "rules": [
            { "value2": "onboarding", "output": 0 },
            { "value2": "dispatch", "output": 1 },
            { "value2": "help", "output": 2 },
            { "value2": "welcome_back", "output": 3 },
            { "value2": "unknown", "output": 4 }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "route-switch",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "workflowId": "1",
        "options": {},
        "workflowInputs": {
          "values": [
            { "name": "telegram_id", "value": "={{ $json.telegramId }}" },
            { "name": "first_name", "value": "={{ $json.firstName }}" },
            { "name": "username", "value": "={{ $json.username }}" },
            { "name": "message_text", "value": "={{ $json.text }}" }
          ]
        }
      },
      "id": "exec-onboarding",
      "name": "Execute Onboarding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflowId }}",
        "options": {},
        "workflowInputs": {
          "values": [
            { "name": "telegram_id", "value": "={{ $json.telegramId }}" }
          ]
        }
      },
      "id": "exec-workflow",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1100, 260]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "🤖 <b>FitBuddy AI — Commands</b>\n\n/checkin — Daily check-in\n/analyze — Analyze a food photo 📸\n/supplements — Supplement advice 💊\n/progress — Weekly report 📊\n/help — Show this menu",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1100, 420],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ 'Welcome back, ' + $json.firstName + '! 💪\\n\\nUse /checkin to log your day or /help for all commands.' }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-welcome-back",
      "name": "Send Welcome Back",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1100, 580],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ '❓ Unknown command: <code>' + $json.command + '</code>\\n\\nType /help to see available commands.' }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "unknown-cmd",
      "name": "Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1100, 740],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Extract Info", "type": "main", "index": 0 }]] },
    "Extract Info": { "main": [[{ "node": "Verify User", "type": "main", "index": 0 }]] },
    "Verify User": { "main": [[{ "node": "Determine Route", "type": "main", "index": 0 }]] },
    "Determine Route": { "main": [[{ "node": "Route Switch", "type": "main", "index": 0 }]] },
    "Route Switch": {
      "main": [
        [{ "node": "Execute Onboarding", "type": "main", "index": 0 }],
        [{ "node": "Execute Workflow", "type": "main", "index": 0 }],
        [{ "node": "Send Help", "type": "main", "index": 0 }],
        [{ "node": "Send Welcome Back", "type": "main", "index": 0 }],
        [{ "node": "Unknown Command", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "4"
}
