fitbuddy-ai/workflows/core/05_scheduler.json
{
  "name": "05 — Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }] }
      },
      "id": "hourly",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst h = now.getUTCHours();\nconst m = now.getUTCMinutes();\nconst dow = now.getUTCDay();\n\nconst reminders = [\n  { id:'morning_water',   cron:'0 8 * * *',   msg:'💧 Good morning, {name}! Start your day with a big glass of water. Hydration = performance.' },\n  { id:'midday_checkin',  cron:'0 13 * * *',  msg:'🥗 Lunchtime! Your daily target is {daily_calorie_target} kcal. Staying on track?' },\n  { id:'afternoon_work',  cron:'0 18 * * *',  msg:'🏋️ Still time for a workout! Even 20 minutes makes a difference. You got this, {name}.' },\n  { id:'evening_wind',    cron:'0 21 * * *',  msg:'🌙 Wind-down time. Aim for 7–9 hours tonight. Great sleep is where progress happens.' }\n];\n\nfunction matches(cron, hour, min, day) {\n  const [cm, ch, , , cd] = cron.split(' ');\n  return (ch==='*' || parseInt(ch)===hour) && (cm==='*' || parseInt(cm)===min) && (cd==='*' || parseInt(cd)===day);\n}\n\nconst due = reminders.filter(r => matches(r.cron, h, m, dow));\nif (!due.length) return [{ json: { skip: true } }];\nreturn due.map(r => ({ json: { ...r, skip: false } }));"
      },
      "id": "find-due",
      "name": "Find Due Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.skip }}", "value2": true }]
        }
      },
      "id": "if-skip",
      "name": "Any Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "per-reminder",
      "name": "Per Reminder",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, first_name, daily_calorie_target FROM users WHERE onboarding_complete=true",
        "additionalFields": {}
      },
      "id": "get-users",
      "name": "Get Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 400],
      "credentials": { "postgres": { "id": "fitbuddy-postgres-1", "name": "FitBuddy DB" } }
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "per-user",
      "name": "Per User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "const user = $json;\nconst reminder = $('Per Reminder').item.json;\nconst msg = reminder.msg\n  .replace(/{name}/g, user.first_name || 'there')\n  .replace(/{daily_calorie_target}/g, user.daily_calorie_target || 2000);\nreturn [{ json: { telegramId: user.telegram_id, message: msg } }];"
      },
      "id": "personalize",
      "name": "Personalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-reminder",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 400],
      "credentials": { "telegramApi": { "id": "fitbuddy-telegram-1", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Hourly Trigger": { "main": [[{ "node": "Find Due Reminders", "type": "main", "index": 0 }]] },
    "Find Due Reminders": { "main": [[{ "node": "Any Due?", "type": "main", "index": 0 }]] },
    "Any Due?": {
      "main": [
        [],
        [{ "node": "Per Reminder", "type": "main", "index": 0 }]
      ]
    },
    "Per Reminder": { "main": [[{ "node": "Get Users", "type": "main", "index": 0 }]] },
    "Get Users": { "main": [[{ "node": "Per User", "type": "main", "index": 0 }]] },
    "Per User": { "main": [[{ "node": "Personalize", "type": "main", "index": 0 }]] },
    "Personalize": { "main": [[{ "node": "Send Reminder", "type": "main", "index": 0 }]] },
    "Send Reminder": { "main": [[{ "node": "Per User", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "5"
}
