fitbuddy-ai/workflows/core/05_scheduler.json
{
  "name": "05 — Scheduler (Dynamic Reminder Engine)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }]
        }
      },
      "id": "node-hourly-trigger",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "file:///home/node/fitbuddy/config/reminder-schedule.json",
        "options": {}
      },
      "id": "node-read-reminders",
      "name": "Read Reminder Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 250]
    },
    {
      "parameters": {
        "url": "file:///home/node/fitbuddy/config/feature-registry.json",
        "options": {}
      },
      "id": "node-read-registry",
      "name": "Read Feature Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 400]
    },
    {
      "parameters": {
        "jsCode": "// Determine which reminders are due right now\n// Runs every hour; checks if any reminder's cron matches this hour/minute\nconst now = new Date();\nconst currentHour = now.getUTCHours();\nconst currentMinute = now.getUTCMinutes();\nconst currentDayOfWeek = now.getUTCDay(); // 0=Sun, 1=Mon, ...\n\nconst remindersRaw = $('Read Reminder Schedule').item.json;\nconst registryRaw = $('Read Feature Registry').item.json;\n\nconst scheduleData = typeof remindersRaw === 'string' ? JSON.parse(remindersRaw) : remindersRaw;\nconst registry = typeof registryRaw === 'string' ? JSON.parse(registryRaw) : registryRaw;\n\nconst enabledFeatureIds = new Set(\n  (registry.features || []).filter(f => f.enabled).map(f => f.id)\n);\n\n// Parse cron expression: \"minute hour day-of-month month day-of-week\"\nfunction cronMatches(cronExpr, hour, minute, dayOfWeek) {\n  const parts = cronExpr.split(' ');\n  if (parts.length < 5) return false;\n  \n  const [cronMin, cronHour, , , cronDow] = parts;\n  \n  const hourMatch = cronHour === '*' || parseInt(cronHour) === hour;\n  const minMatch = cronMin === '*' || parseInt(cronMin) === minute;\n  const dowMatch = cronDow === '*' || parseInt(cronDow) === dayOfWeek;\n  \n  return hourMatch && minMatch && dowMatch;\n}\n\nconst dueReminders = (scheduleData.reminders || []).filter(r => {\n  if (!r.enabled) return false;\n  // Skip feature-specific reminders if the feature is disabled\n  if (r.feature_id && !enabledFeatureIds.has(r.feature_id)) return false;\n  return cronMatches(r.cron, currentHour, currentMinute, currentDayOfWeek);\n});\n\nif (dueReminders.length === 0) {\n  return [{ json: { skip: true, reason: `No reminders due at ${currentHour}:${String(currentMinute).padStart(2,'0')} UTC` } }];\n}\n\n// Return one item per due reminder\nreturn dueReminders.map(r => ({ json: { reminder: r, skip: false } }));"
      },
      "id": "node-find-due",
      "name": "Find Due Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-if-skip",
      "name": "Any Reminders Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-per-reminder",
      "name": "Per Reminder",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, first_name, daily_calorie_target\nFROM users\nWHERE onboarding_complete = true",
        "additionalFields": {}
      },
      "id": "node-get-users",
      "name": "Get All Active Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1100, 400],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "FitBuddy DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-per-user",
      "name": "Per User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "// Personalize the reminder message for this user\nconst user = $json;\nconst reminder = $('Per Reminder').item.json.reminder;\n\nlet message = reminder.message || '';\n\n// Substitute user-specific tokens\nmessage = message\n  .replace(/{name}/g, user.first_name || 'there')\n  .replace(/{daily_calorie_target}/g, user.daily_calorie_target || 2000);\n\nreturn [{ json: {\n  telegramId: user.telegram_id,\n  message,\n  reminderId: reminder.id,\n  reminderType: reminder.type\n} }];"
      },
      "id": "node-personalize",
      "name": "Personalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "node-send-reminder",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1700, 400],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "FitBuddy Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [{ "node": "Read Reminder Schedule", "type": "main", "index": 0 }],
        [{ "node": "Read Feature Registry", "type": "main", "index": 0 }]
      ]
    },
    "Read Reminder Schedule": {
      "main": [[{ "node": "Find Due Reminders", "type": "main", "index": 0 }]]
    },
    "Read Feature Registry": {
      "main": [[{ "node": "Find Due Reminders", "type": "main", "index": 0 }]]
    },
    "Find Due Reminders": {
      "main": [[{ "node": "Any Reminders Due?", "type": "main", "index": 0 }]]
    },
    "Any Reminders Due?": {
      "main": [
        [],
        [{ "node": "Per Reminder", "type": "main", "index": 0 }]
      ]
    },
    "Per Reminder": {
      "main": [[{ "node": "Get All Active Users", "type": "main", "index": 0 }]]
    },
    "Get All Active Users": {
      "main": [[{ "node": "Per User", "type": "main", "index": 0 }]]
    },
    "Per User": {
      "main": [[{ "node": "Personalize Message", "type": "main", "index": 0 }]]
    },
    "Personalize Message": {
      "main": [[{ "node": "Send Reminder", "type": "main", "index": 0 }]]
    },
    "Send Reminder": {
      "main": [[{ "node": "Per User", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "05-scheduler-v1",
  "id": "5",
  "meta": { "instanceId": "fitbuddy" }
}
