fitbuddy-ai/workflows/core/06_weekly_report.json
{
  "name": "06 — Weekly Report",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 0" }] }
      },
      "id": "schedule",
      "name": "Sunday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 250]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weekly-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 400],
      "webhookId": "fitbuddy-weekly-report"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, first_name, daily_calorie_target, goal FROM users WHERE onboarding_complete=true",
        "additionalFields": {}
      },
      "id": "get-users",
      "name": "Get Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [350, 320],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "per-user",
      "name": "Per User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [550, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_date, calories_consumed, sleep_hours, energy_level, workout_done, steps, water_ml FROM daily_logs WHERE user_id=$1 AND log_date >= CURRENT_DATE - INTERVAL '7 days' ORDER BY log_date DESC",
        "additionalFields": { "queryParams": "={{ $json.id }}" }
      },
      "id": "get-logs",
      "name": "Get 7-Day Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [750, 320],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Per User').item.json;\nconst logs = $('Get 7-Day Logs').all().map(i => i.json);\nif (!logs.length) return [{ json: { skip: true, telegramId: user.telegram_id } }];\nconst n = logs.length;\nconst avg = (fn) => (logs.reduce((s,d) => s + (parseFloat(fn(d))||0), 0) / n);\nconst avgCal = Math.round(avg(d => d.calories_consumed));\nconst avgSleep = avg(d => d.sleep_hours).toFixed(1);\nconst avgEnergy = avg(d => d.energy_level).toFixed(1);\nconst avgSteps = Math.round(avg(d => d.steps));\nconst workoutDays = logs.filter(d => d.workout_done).length;\nconst target = user.daily_calorie_target || 2000;\nconst onTarget = logs.filter(d => { const c=d.calories_consumed||0; return c>=target*0.85 && c<=target*1.15; }).length;\nconst adherence = Math.round((onTarget/n)*100);\nreturn [{ json: { skip:false, userId:user.id, telegramId:user.telegram_id, firstName:user.first_name, goal:user.goal, target, n, avgCal, avgSleep, avgEnergy, avgSteps, workoutDays, adherence } }];"
      },
      "id": "compute-stats",
      "name": "Compute Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 320]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.skip }}", "value2": true }]
        }
      },
      "id": "if-skip",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1150, 320]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            { "role": "system", "content": "You are FitBuddy AI, a warm encouraging fitness coach. Write a 3-4 sentence weekly summary. Be specific to the numbers. Format for Telegram HTML." },
            { "role": "user", "content": "={{ `Weekly summary for ${$json.firstName}:\\n- Days logged: ${$json.n}/7\\n- Avg calories: ${$json.avgCal} kcal (target: ${$json.target})\\n- Adherence: ${$json.adherence}%\\n- Avg sleep: ${$json.avgSleep}h\\n- Avg energy: ${$json.avgEnergy}/10\\n- Avg steps: ${$json.avgSteps}\\n- Workout days: ${$json.workoutDays}/7\\n- Goal: ${$json.goal}` }}" }
          ]
        },
        "options": { "maxTokens": 300 }
      },
      "id": "ai-narrative",
      "name": "AI Narrative",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1350, 200],
      "credentials": { "openAiApi": { "id": "REPLACE_OPENAI_CRED_ID", "name": "FitBuddy OpenAI" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compute Stats').item.json.telegramId }}",
        "text": "={{ `📅 <b>Weekly Report — ${$('Compute Stats').item.json.firstName}</b>\\n\\n📊 <b>This Week:</b>\\n📝 Days logged: ${$('Compute Stats').item.json.n}/7\\n🔥 Avg calories: ${$('Compute Stats').item.json.avgCal} kcal\\n🎯 Calorie adherence: ${$('Compute Stats').item.json.adherence}%\\n😴 Avg sleep: ${$('Compute Stats').item.json.avgSleep}h\\n⚡ Avg energy: ${$('Compute Stats').item.json.avgEnergy}/10\\n👟 Avg steps: ${$('Compute Stats').item.json.avgSteps}\\n🏋️ Workout days: ${$('Compute Stats').item.json.workoutDays}/7\\n\\n🤖 <b>AI Summary:</b>\\n${$json.message?.content || ''}` }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-report",
      "name": "Send Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1550, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feature_events (user_id, feature_id, event_type, payload) VALUES ($1, 'core', 'weekly_report_sent', '{}'::jsonb)",
        "additionalFields": { "queryParams": "={{ $('Compute Stats').item.json.userId }}" }
      },
      "id": "log-event",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1750, 300],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    }
  ],
  "connections": {
    "Sunday 9AM": { "main": [[{ "node": "Get Users", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Get Users", "type": "main", "index": 0 }]] },
    "Get Users": { "main": [[{ "node": "Per User", "type": "main", "index": 0 }]] },
    "Per User": { "main": [[{ "node": "Get 7-Day Logs", "type": "main", "index": 0 }]] },
    "Get 7-Day Logs": { "main": [[{ "node": "Compute Stats", "type": "main", "index": 0 }]] },
    "Compute Stats": { "main": [[{ "node": "Has Data?", "type": "main", "index": 0 }]] },
    "Has Data?": {
      "main": [
        [],
        [{ "node": "AI Narrative", "type": "main", "index": 0 }]
      ]
    },
    "AI Narrative": { "main": [[{ "node": "Send Report", "type": "main", "index": 0 }]] },
    "Send Report": { "main": [[{ "node": "Log Event", "type": "main", "index": 0 }]] },
    "Log Event": { "main": [[{ "node": "Per User", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "6"
}
