fitbuddy-ai/workflows/features/food_image_analysis.json
{
  "name": "Feature — Food Image Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food-image-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "fitbuddy-food-image"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.telegram_id }}",
        "text": "🔍 Analyzing your food photo... 📸",
        "additionalFields": {}
      },
      "id": "send-analyzing",
      "name": "Send Analyzing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $('Webhook Trigger').item.json.body.file_id }}",
        "options": {}
      },
      "id": "get-file",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $env.TELEGRAM_BOT_TOKEN }}/{{ $json.result.file_path }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "download-img",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Analyze this food image. Respond ONLY with valid JSON, no markdown:\n{\"foods\":[\"item1\"],\"estimated_calories\":450,\"protein_g\":35,\"carbs_g\":40,\"fat_g\":12,\"confidence\":\"high\",\"health_score\":7,\"notes\":\"One sentence about quality\"}"
            }
          ]
        },
        "options": { "temperature": 0.3, "maxTokens": 400 }
      },
      "id": "vision-call",
      "name": "GPT-4o Vision",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": { "openAiApi": { "id": "REPLACE_OPENAI_CRED_ID", "name": "FitBuddy OpenAI" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.message?.content || $json.choices?.[0]?.message?.content || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim());\n} catch(e) {\n  parsed = { foods:['Unknown food'], estimated_calories:300, protein_g:15, carbs_g:30, fat_g:10, confidence:'low', health_score:5, notes:'Could not analyze photo clearly.' };\n}\nconst trigger = $('Webhook Trigger').item.json.body;\nreturn [{ json: {\n  foods: parsed.foods || [],\n  calories: parsed.estimated_calories || 0,\n  protein: parsed.protein_g || 0,\n  carbs: parsed.carbs_g || 0,\n  fat: parsed.fat_g || 0,\n  confidence: parsed.confidence || 'low',\n  healthScore: parsed.health_score || 5,\n  notes: parsed.notes || '',\n  telegramId: trigger.telegram_id,\n  userId: trigger.user_id\n} }];"
      },
      "id": "parse-vision",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO food_analyses (user_id, food_items, estimated_calories, estimated_macros, confidence, raw_ai_response, source) VALUES ($1, $2::jsonb, $3, $4::jsonb, $5, $6, 'telegram_photo') RETURNING id",
        "additionalFields": { "queryParams": "={{ [$json.userId, JSON.stringify($json.foods), $json.calories, JSON.stringify({protein_g:$json.protein,carbs_g:$json.carbs,fat_g:$json.fat}), $json.confidence, $json.notes].join(',') }}" }
      },
      "id": "save-analysis",
      "name": "Save Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1300, 250],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE daily_logs SET calories_consumed=COALESCE(calories_consumed,0)+$1, protein_g=COALESCE(protein_g,0)+$2, carbs_g=COALESCE(carbs_g,0)+$3, fat_g=COALESCE(fat_g,0)+$4 WHERE user_id=$5 AND log_date=CURRENT_DATE RETURNING calories_consumed",
        "additionalFields": { "queryParams": "={{ [$('Parse Result').item.json.calories, $('Parse Result').item.json.protein, $('Parse Result').item.json.carbs, $('Parse Result').item.json.fat, $('Parse Result').item.json.userId].join(',') }}" }
      },
      "id": "update-log",
      "name": "Update Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1300, 400],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feature_events (user_id, feature_id, event_type, payload) VALUES ($1, 'food_image_analysis', 'food_analyzed', $2::jsonb)",
        "additionalFields": { "queryParams": "={{ [$('Parse Result').item.json.userId, JSON.stringify({calories:$('Parse Result').item.json.calories,confidence:$('Parse Result').item.json.confidence})].join(',') }}" }
      },
      "id": "log-event",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1500, 300],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Result').item.json.telegramId }}",
        "text": "={{ `📸 <b>Food Analysis Result</b>\\n\\n<b>Foods identified:</b>\\n${$('Parse Result').item.json.foods.map(f => '  • ' + f).join('\\n')}\\n\\n🔥 Calories: <b>${$('Parse Result').item.json.calories} kcal</b>\\n🥩 Protein: ${$('Parse Result').item.json.protein}g | 🌾 Carbs: ${$('Parse Result').item.json.carbs}g | 🥑 Fat: ${$('Parse Result').item.json.fat}g\\n\\n💡 ${$('Parse Result').item.json.notes}\\n\\nConfidence: ${$('Parse Result').item.json.confidence}` }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-result",
      "name": "Send Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1700, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Send Analyzing", "type": "main", "index": 0 }]] },
    "Send Analyzing": { "main": [[{ "node": "Get File", "type": "main", "index": 0 }]] },
    "Get File": { "main": [[{ "node": "Download Image", "type": "main", "index": 0 }]] },
    "Download Image": { "main": [[{ "node": "GPT-4o Vision", "type": "main", "index": 0 }]] },
    "GPT-4o Vision": { "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]] },
    "Parse Result": {
      "main": [
        [{ "node": "Save Analysis", "type": "main", "index": 0 }],
        [{ "node": "Update Log", "type": "main", "index": 0 }]
      ]
    },
    "Save Analysis": { "main": [[{ "node": "Log Event", "type": "main", "index": 0 }]] },
    "Update Log": { "main": [[{ "node": "Log Event", "type": "main", "index": 0 }]] },
    "Log Event": { "main": [[{ "node": "Send Result", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "7"
}
