fitbuddy-ai/workflows/features/supplement_advisor.json
{
  "name": "Feature — Supplement Advisor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supplement-advisor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "fitbuddy-supplement-advisor"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, first_name, age, gender, weight_kg, goal, activity_level, daily_calorie_target FROM users WHERE telegram_id=$1",
        "additionalFields": { "queryParams": "={{ $json.body.telegram_id }}" }
      },
      "id": "get-user",
      "name": "Get User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_date, calories_consumed, protein_g, carbs_g, fat_g, sleep_hours, energy_level, food_description FROM daily_logs WHERE user_id=$1 ORDER BY log_date DESC LIMIT 7",
        "additionalFields": { "queryParams": "={{ $json.id }}" }
      },
      "id": "get-logs",
      "name": "Get Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Get User').item.json.telegram_id }}",
        "text": "💊 Analyzing your recent nutrition patterns...",
        "additionalFields": {}
      },
      "id": "send-analyzing",
      "name": "Send Analyzing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Get User').item.json;\nconst logs = $('Get Logs').all().map(i => i.json);\nconst n = logs.length || 1;\nconst avgProt = (logs.reduce((s,d)=>s+(parseFloat(d.protein_g)||0),0)/n).toFixed(1);\nconst avgCal = Math.round(logs.reduce((s,d)=>s+(d.calories_consumed||0),0)/n);\nconst avgSleep = (logs.reduce((s,d)=>s+(parseFloat(d.sleep_hours)||0),0)/n).toFixed(1);\nconst avgEnergy = (logs.reduce((s,d)=>s+(d.energy_level||0),0)/n).toFixed(1);\nconst foodSample = logs.filter(d=>d.food_description).slice(0,3).map((d,i)=>`Day ${i+1}: ${d.food_description}`).join('\\n') || 'No food logs yet';\nconst prompt = `You are FitBuddy AI, an expert nutrition coach. Provide personalized supplement advice.\n\nUSER: ${user.first_name}, Age ${user.age}, ${user.gender}, ${user.weight_kg}kg\nGoal: ${user.goal} | Activity: ${user.activity_level} | Daily target: ${user.daily_calorie_target} kcal\n\n7-DAY AVERAGES:\nCalories: ${avgCal} kcal | Protein: ${avgProt}g | Sleep: ${avgSleep}h | Energy: ${avgEnergy}/10\n\nRECENT FOOD:\n${foodSample}\n\n💊 SUPPLEMENT ADVICE\nBased on the goal (${user.goal}), recent food logs, and energy patterns:\n- Identify 1-2 nutritional gaps\n- Recommend 2-3 specific supplements with dosage and timing\n- Flag any to avoid\n- Always note: consult a healthcare provider before starting supplements`;\nreturn [{ json: { prompt, userId: user.id, telegramId: user.telegram_id, goal: user.goal } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            { "role": "user", "content": "={{ $json.prompt }}" }
          ]
        },
        "options": { "temperature": 0.5, "maxTokens": 800 }
      },
      "id": "openai-call",
      "name": "GPT-4o Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": { "openAiApi": { "id": "REPLACE_OPENAI_CRED_ID", "name": "FitBuddy OpenAI" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO supplement_recommendations (user_id, goal_at_time, recommendations, raw_ai_response) VALUES ($1, $2, '[]'::jsonb, $3)",
        "additionalFields": { "queryParams": "={{ [$('Build Prompt').item.json.userId, $('Build Prompt').item.json.goal, $json.message?.content || ''].join(',') }}" }
      },
      "id": "save-rec",
      "name": "Save Rec",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1300, 250],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feature_events (user_id, feature_id, event_type, payload) VALUES ($1, 'supplement_advisor', 'supplement_recommended', '{}'::jsonb)",
        "additionalFields": { "queryParams": "={{ $('Build Prompt').item.json.userId }}" }
      },
      "id": "log-event",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1300, 400],
      "credentials": { "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "FitBuddy DB" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Build Prompt').item.json.telegramId }}",
        "text": "={{ `💊 <b>Your Personalized Supplement Plan</b>\\n\\n${$json.message?.content || ''}\\n\\n<i>⚕️ Always consult a healthcare provider before starting any new supplement.</i>` }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-result",
      "name": "Send Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM_CRED_ID", "name": "FitBuddy Telegram Bot" } }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Get User", "type": "main", "index": 0 }]] },
    "Get User": { "main": [[{ "node": "Get Logs", "type": "main", "index": 0 }]] },
    "Get Logs": { "main": [[{ "node": "Send Analyzing", "type": "main", "index": 0 }]] },
    "Send Analyzing": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Build Prompt": { "main": [[{ "node": "GPT-4o Analysis", "type": "main", "index": 0 }]] },
    "GPT-4o Analysis": {
      "main": [
        [{ "node": "Save Rec", "type": "main", "index": 0 }],
        [{ "node": "Log Event", "type": "main", "index": 0 }]
      ]
    },
    "Save Rec": { "main": [[{ "node": "Send Result", "type": "main", "index": 0 }]] },
    "Log Event": { "main": [[{ "node": "Send Result", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "8"
}
