market-research-agent/workflow.json
{
  "name": "Feature — Beauty Market Research Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "market-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "beauty-market-research"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst product = (body.product_name ?? '').trim() || null;\nconst goal = (body.goal ?? 'user engagement and viral content').trim();\n\nconst productContext = product\n  ? `The product is: \"${product}\". Tailor all queries, hooks, and ideas around it. Use \"${product}\" wherever a product name fits naturally.`\n  : 'No specific product provided. Generate niche-level beauty content. Where a product name would fit, use the placeholder \"{product}\" so it stays interchangeable.';\n\nconst userPrompt = `Generate a market research report for the beauty niche.\\n\\nGoal: ${goal}\\n${productContext}\\n\\nReturn a JSON object with exactly this schema:\\n{\\n  \"product\": \"<product name or null>\",\\n  \"queries\": [\"<5 search queries>\"],\\n  \"urls\": [\"<3 URLs to scrape for insights>\"],\\n  \"trends\": \"<paragraph describing current beauty trends>\",\\n  \"content_patterns\": \"<paragraph describing what content formats drive high engagement>\",\\n  \"ideas\": [\\n    {\\n      \"title\": \"<content idea title>\",\\n      \"format\": \"<platform and format e.g. TikTok 30s video>\",\\n      \"hook\": \"<opening line or visual hook>\",\\n      \"why_it_works\": \"<engagement reasoning>\"\\n    }\\n  ]\\n}\\n\\nRules:\\n- queries: exactly 5 items\\n- urls: exactly 3 items\\n- ideas: exactly 3 items\\n- Return ONLY the JSON object, nothing else`;\n\nconst apiBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 2048,\n  system: 'You are a Market Research Analyst Agent specialized in the beauty niche. Your focus is maximizing user engagement and creating viral content. When a product is provided, tailor all output to highlight that product. When no product is provided, generate niche-level beauty content that works for any brand or creator. Always return ONLY valid JSON matching the required schema — no extra text, no markdown fences.',\n  messages: [{ role: 'user', content: userPrompt }]\n});\n\nreturn [{ json: { product, goal, apiBody } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.apiBody }}",
        "options": {}
      },
      "id": "call-claude",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ANTHROPIC_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text ?? '';\n\nlet cleaned = raw.trim();\nif (cleaned.startsWith('```')) {\n  cleaned = cleaned.split('```')[1] ?? '';\n  if (cleaned.startsWith('json')) cleaned = cleaned.slice(4);\n  cleaned = cleaned.trim();\n}\n\nlet result;\ntry {\n  result = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse Claude response', raw } }];\n}\n\nreturn [{ json: result }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const research = $input.first().json;\nconst product = research.product || null;\nconst productLine = product ? `Product: ${product}` : 'No specific product — keep content niche-level and use \"{product}\" as a placeholder where needed.';\n\nconst ideasText = (research.ideas || []).map((idea, i) =>\n  `Idea ${i+1}: ${idea.title}\\nFormat: ${idea.format}\\nHook: ${idea.hook}`\n).join('\\n\\n');\n\nconst userPrompt = `You are a viral beauty content creator. Using the research below, generate ready-to-post content.\\n\\n${productLine}\\nTrends: ${research.trends}\\nWhat performs well: ${research.content_patterns}\\n\\nContent ideas to execute:\\n${ideasText}\\n\\nFor each idea, create the actual content. Return ONLY a JSON object with this schema:\\n{\\n  \"product\": \"<product name or null>\",\\n  \"content_pieces\": [\\n    {\\n      \"title\": \"<idea title>\",\\n      \"platform\": \"<TikTok / Instagram Reels / YouTube Shorts>\",\\n      \"caption\": \"<full ready-to-post caption with emojis>\",\\n      \"script\": \"<full video script or spoken lines, 30-60 seconds>\",\\n      \"hashtags\": [\"<10 relevant hashtags>\"],\\n      \"cta\": \"<call to action to maximize engagement>\"\\n    }\\n  ]\\n}\\n\\nRules:\\n- content_pieces: exactly 3 items matching the 3 ideas\\n- captions should be engaging, conversational, and platform-native\\n- scripts should feel natural, not salesy\\n- Return ONLY the JSON object, nothing else`;\n\nconst apiBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 3000,\n  system: 'You are an expert viral beauty content creator who writes captions, video scripts, and engagement hooks that drive real results on TikTok and Instagram. Always return ONLY valid JSON — no extra text, no markdown fences.',\n  messages: [{ role: 'user', content: userPrompt }]\n});\n\nreturn [{ json: { research, apiBody } }];"
      },
      "id": "build-content-prompt",
      "name": "Build Content Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.apiBody }}",
        "options": {}
      },
      "id": "call-claude-content",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ANTHROPIC_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const research = $('Build Content Prompt').first().json.research;\nconst raw = $input.first().json.content?.[0]?.text ?? '';\n\nlet cleaned = raw.trim();\nif (cleaned.startsWith('```')) {\n  cleaned = cleaned.split('```')[1] ?? '';\n  if (cleaned.startsWith('json')) cleaned = cleaned.slice(4);\n  cleaned = cleaned.trim();\n}\n\nlet content;\ntry {\n  content = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse content response', raw } }];\n}\n\nreturn [{ json: { research, content } }];"
      },
      "id": "parse-content",
      "name": "Parse Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Call Claude API", "type": "main", "index": 0 }]]
    },
    "Call Claude API": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Build Content Prompt", "type": "main", "index": 0 }]]
    },
    "Build Content Prompt": {
      "main": [[{ "node": "Generate Content", "type": "main", "index": 0 }]]
    },
    "Generate Content": {
      "main": [[{ "node": "Parse Content", "type": "main", "index": 0 }]]
    },
    "Parse Content": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "market-research-beauty"
}
